@media (max-width: 500px) {
  @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-size: 100%;
    font-family: "Rubik", sans-serif;
    position: relative;
 
  }
  img {
    display: block;
  }
  .menu-modal {
    display: grid;
    align-content: start;
    width: 100%;
    position: absolute;
    height: 100vh;
    font-size: 1.5rem;
    background-color: #252b46ee;
    padding-top: 2rem;
    top: 0;
    left: 0;
    /* overflow-y: hidden; */
  }
  .menu-modal ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1rem;
    align-items: center;
    padding: 3rem 0;
  }
  .menu-modal li {
    border-bottom: 1px solid #9194a1;
    padding: 0.5rem 6rem;
  }
  .menu-modal li:hover {
    border-bottom: 1px solid transparent;
    border: 2px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: all ease-in 0.2s;
  }
  .menu-modal header {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  .menu-modal img:hover {
    cursor: pointer;
  }
  .container {
    margin: 0 auto;
  }
  .mobile-navbar a {
    color: #fff;
    text-decoration: none;
    /* font-weight: bold; */
    text-transform: uppercase;
  }

  .desktop-navbar {
    display: none;
  }
  .desktop-navbar ul {
    list-style: none;
  }
  .desktop-navbar a {
    color: #252b46;
    text-decoration: none;
    font-weight: bold;
  }

  .mobile-navbar {
    background-color: #fff;
    display: flex;
    max-width: 100%;
    padding: 2rem;
    /* position: sticky;
    top: 0; */
    justify-content: space-between;
    align-items: center;
  }
  /* hero-section */
  .hero-section {
    display: grid;
    grid-template-columns: 1fr;
  }
  .hero-section img {
    width: 100%;
  }
  /* features section styling */
  .features-section {
    align-self: center;
    justify-self: center;
    text-align: center;
    padding-top: 6rem;
  }
  .features-section li {
    display: grid;
    gap: 1rem;
    list-style: none;
    margin: 0 2rem;
    border-bottom: transparent 4px solid;
    transition: all ease-in 0.5s;
  }
  .features-section p {
    line-height: 1.5rem;
    width: 100%;
    padding: 1rem 0;
  }
  .features-section img {
    width: 100%;
  }
  .features-detail {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
    padding-top: 4rem;
  }
  .grid {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    border-bottom: none;
  }
  .grid hr {
    display: block;
  }
  /* extension card styling */
  .card-parent {
    padding-top: 4rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
  }
  .extension-section {
    padding-top: 6rem;
    display: grid;
    gap: 1rem;
    align-self: center;
    justify-self: center;
    text-align: center;
    line-height: 1.8;
  }
  .extension-card {
    margin: 0;
  }

  /* accordion styling */

  .accordion-section {
    display: grid;
    justify-content: center;
    padding: 8rem 0;
    gap: 1rem;
    align-content: center;
  }
  .centered {
    text-align: center;
    padding-bottom: 3rem;
    line-height: 1.8;
  }
  .question-tab {
    display: flex;
    justify-content: space-between;
    color: #252b46;
  }
  .answer {
    line-height: 2;
    letter-spacing: 0.3px;
  }
  .accordion-section .btn-1 {
    justify-self: center;
    font-weight: bold;
    margin-top: 2em;
  }
  .close-icon {
    transform: rotate(180deg);
    transition: all ease-in 0.3s;
  }
  .open-icon {
    transition: all ease-in 0.3s;
  }
  /* cta section */
  .cta-section {
    width: 100%;
    background-color: #5368df;
    color: #fff;
    padding: 3rem 2rem;
    text-align: center;
    display: grid;
    gap: 1rem;
  }
  .cta-section p {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  .cta-section h3 {
    color: #fff;
    font-size: 1.4rem;
    letter-spacing: 1.5px;
  }
  .cta-section button {
    background-color: #fa5757;
    color: inherit;
    text-transform: capitalize;
  }
  .cta-section input {
    padding: 1rem;
    outline: none;
    border-radius: 4px;
    border: 1px #5368df solid;
  }
  .footer {
    background-color: #252b46;
    color: #fff;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3rem 0;
    text-align: center;
  }
  .footer li {
    list-style: none;
  }
  .footer nav li {
    text-transform: uppercase;
    padding-bottom: 1.5rem;
  }

  .socials {
    display: flex;
    /* justify-content: space-around; */
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
}
